header {
	width: 100%;
	background: #DBDBDB url(../../images/escheresque_@2X.png) repeat;
	background-size: 46px 29px;
	height: 130px;
	border-bottom: 1px solid #E5E5E5;
}
header .header-content {
	height: auto;
	max-width: 2072px;
	position: absolute;
	top: 24px;
	left: 0;
	right: 0;
	width: 100%;
}
header a {
	border: none;
}

@media only screen and (max-width:400px) {
	header {
		height: 118px;
	}
}